doctype html
html
  head
    title #{title}
    // Material Design fonts
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    // Material Design for Bootstrap
    link(rel='stylesheet', href='https://cdn.rawgit.com/fezvrasta/bootstrap-material-design/v4-dist/css/bootstrap-material-design.css')
    link(rel='stylesheet', href='/css/demo.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/component.css')
    
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='https://cdn.rawgit.com/HubSpot/tether/v1.1.1/dist/js/tether.min.js')
    script(src='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.min.js')
    script(src='https://cdn.rawgit.com/fezvrasta/bootstrap-material-design/v4-dist/js/bootstrap-material-design.iife.min.js')
    script(src='/js/demo-1.js')
    script(src='/js/EasePack.min.js')
    script(src='/js/TweenLite.min.js')
    script(src='/js/index.js')

    link(rel='stylesheet', href='/css/style.css')
  body
  #large-header.large-header(style='height: 100%;')
    canvas#demo-canvas(width='1440', height='394')
  .container#fullpagecontain
    nav.navbar.navbar-light.bg-faded
      //- a.navbar-brand(href='#') #{title}
      ul.nav.navbar-nav
        li.nav-item.active
          a.nav-link(href='/')
            | Home 
            span.sr-only (current)
        if user.isLoggedIn === true && title !== "Profile"
          li.nav-item
            a.nav-link(href='users/profile') Your Profile

      ul.nav.navbar-nav.pull-xs-right
        if user.isLoggedIn === false
          li.nav-item
            a.nav-link(href='/login') Login
        if user.isLoggedIn === true
          li.nav-item
            a.nav-link(href='/users/logout') Logout
        if user.noCookie === true && user.isLoggedIn === false
          li.nav-item
            a.nav-link(href='/register') Register
            
      //- form.form-inline.pull-xs-right
      //-   input.form-control(type='text', placeholder='Search')
      //-   button.btn.btn-outline-success(type='submit') Search
        
        


    .container#layoutcontainer
      block content


    block scripts
