extends layout

block content
  .col-sm-12#maincontainer
    .row.transheader#indexheader
      h1= title
    .row.pagecontent#indexpage
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas ex in lectus venenatis, in vehicula nulla aliquam. Duis posuere urna ac purus dapibus, at ultrices massa bibendum. Aliquam ullamcorper non purus non euismod. Vestibulum tincidunt pulvinar leo id pharetra. Nulla facilisis, quam at ornare pulvinar, odio lectus tincidunt libero, ut interdum ipsum lacus nec nulla. Maecenas sodales pretium felis, nec posuere ex mattis ut. Sed hendrerit neque ante, non varius ante pretium non. Curabitur sodales nunc ac turpis porttitor dignissim. Maecenas ut sapien congue, sodales justo sed, laoreet augue. Pellentesque egestas at quam cursus bibendum. Vestibulum porta in metus nec vulputate.
      
      .card
        img.card-img-top(src=#{ userData.photos[0].url || 'https://www.orate.me/assets/medium/missing_profile-654738ceb27ce186ee4d0b720b1db1e74eccb095b6b41b4b916d8507cbcd0167.png' }, alt='Card image cap')
        .card-block
          h4.card-title #{ userData.name.first + " " + userData.name.last}
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
        ul.list-group.list-group-flush
          li.list-group-item Cras justo odio
          li.list-group-item Dapibus ac facilisis in
          li.list-group-item Vestibulum at eros
        .card-block
          a.card-link(href='#') Card link
          a.card-link(href='#') Another link
block scripts
  script(src='/lib/firebase/firebase.js')
  script(src="/js/profile.js")
